*{
    box-sizing: border-box;
}
body{
    font-family: 'Bitter', serif;
}
.bg-custom{
    background-color: #fdffff;
}
.btn-orange{
    background-color: #fd0001;
}
.text-custom{
    color: #9ace02;
}
.text-custom2{
    color: #fd0001;
}
.text-custom:hover {
    text-decoration: none;
    color: #9ace02;
}

.text-normal{
    color: #333134;
}
.text-normal:hover {
    text-decoration: none;
    color: #333134;
}
.p-custom{
    padding: 10px 40px 10px 40px;
}

body{
    background-color: #a5a6a5;
}
.titre{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titre > a{
    font-size: 0.9em;
}
.resized
{
    width: 500px;
}
article > h2{
    text-align: center;
}
body{
    box-sizing: border-box;
}
.centerded{
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
}
.align-center{
    display: flex;
    align-items: baseline;
    justify-content: center;
}


@media screen and (min-width: 1024px) {
    .myNewDivHeight{
        height:150px;
    }
}
@media screen and (min-width: 1024px) {
    .cardHeight{
        height:325px;
    }
}
.zoom{
    transition: transform .2s;
}
.zoom:hover{
    transform: scale(1.05);
}
.form-control{
    resize: none;
}
.m-auto{
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.navbar-nav>.active{
    text-decoration: underline;
}
h2{
    text-align: center;
    color: #9ace02;
}
.txt-none{
    text-align: start ;
}
.txt-center{
    text-align: center;
}
.space-btwn{
    display: flex;
    justify-content: space-between;
}
.rounded-top{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px ;
}
.rounded-bot{
    border-bot-left-radius: 10px;
    border-bot-right-radius: 10px ;
}

.pagination > li > a >.active{
    background: #9ace02;
}